<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd"> 
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<title>FastFood</title>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="./css/w3.css">
	<!--==============CSS Reset==============-->
	<link href="./css/reset.min.css" rel="stylesheet">
	<!--==============Fonts==============-->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
	<!-- ==============Bootstrap==============-->
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/icon/LineIcons.css">
	<link rel="stylesheet" href="./css/font/Material+Icons.css">
	<link rel="stylesheet" href="./css/font/icons/css/materialdesignicons.min.css">
	<!--==============Owl Carousal==============-->
	<link rel="stylesheet" type="text/css" href="./css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="./css/owl.theme.default.min.css">
	<!--==============Custom CSS==============-->
	<link href="./css/custom.css" rel="stylesheet">
	<!--==============Animations==============-->
	<link rel="stylesheet" href="./css/animation/animate.min.css">
	<!--==============JS==============-->
	<script src="./js/jquery/jquery-3.4.1.slim.min.js">
	</script>
	<script src="./js/jquery/popper.min.js">
	</script>
	<script src="./js/bootstrap.min.js">
	</script>
	<!--==============Owl Carousal JS==============-->
	<script src="./js/jquery/jquery.min.js"></script>
	<script src="./js/owl.carousel.min.js"></script>
	<!--==============Custom JS==============-->
	<script src="./js/custom.js"></script>
</head>
<body>

<!-- ----------------- mob-Menu ---------------- -->
<div id="mobMenu" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	<a class="navbar-brand" href="#">
		<figure class="brand-img">
			<img src="./img/Logo.png" alt="IT Net Guru">
		</figure>
	</a>
	<ul class="mob-menu-block">
		<li>
			<a href="index.html">Home</a>
		</li>
		<li class="seperator"></li>
		<li>
			<a class="openbtn" role="button" onclick="openMobSubMenu()">Menu <i class="mdi mdi-chevron-right"></i></a> 
		</li>
		<li class="seperator"></li>
		<li>
			<a href="##">Our Clients</a>
		</li>
		<li class="seperator"></li>
		<li>
			<a href="About-us.html">About Us</a>
		</li>
		
		<li class="seperator"></li>
		<li>
			<a href="contact-us.html">Contact Us</a>
		</li>
	</ul>
	<div class="f-c-block f-s-m-block">
		<ul>
			<li class="social-ico"><a href="#"><i class="mdi mdi-facebook"></i> Facebook</a></li>
			<li class="social-ico"><a href="#"><i class="mdi mdi-twitter"></i> Twitter</a></li>
			<li class="social-ico"><a href="#"><i class="mdi mdi-instagram"></i> Instagram</a></li>
		</ul>
	</div>
  </div>
  <script>
	function openNav() {
	  document.getElementById("mobMenu").style.width = "100vw";
	  document.getElementById("main-page").style.marginRight = "0";
	}
	
	function closeNav() {
	  document.getElementById("mobMenu").style.width = "0";
	  document.getElementById("main-page").style.marginRight= "0";
	}
 </script>

 <!-- ----------------- mob-sub-Menu ---------------- -->
<div id="mobSubMenu" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeMobSubMenu()">×</a>
	<div class="drop-menu-block">
		<div class="row">
			<div class="col-6">
				<div class="txt-btn">CATERINGS</div>
				<div class="drop-menu-box">
					<ul>
						<li><a tabindex="-1" href="products.html">TULANG NALLI BRIYANI</a>
						</li>
						<li><a href="products.html">CUPCAKES</a></li>
						<li><a href="products.html">DONUT WALL</a></li>
						<li><a href="#">FRUIT BUFFET</a></li>
						<li><a href="#">GRAZING TABLE</a></li>
						<li><a href="#">KIDS BUFFET 1</a></li>
						<li><a href="#">KIDS BUFFET 2</a></li>
						<li><a href="#">KIDS BUFFET 3</a></li>
						<li><a href="#">CANDY BUFFET 2</a></li>
						<li><a href="#">CANDY BUFFET 2</a></li>
					</ul>
				</div>
			</div>
			<div class="col-6">
				<div class="txt-btn">LIVE FOOD STALLS</div>
				<div class="drop-menu-box">
					<ul>
						<li><a tabindex="-1" href="products.html">BBQ FOOD</a></li>
						<li><a href="products.html">CHINESE FOOD</a></li>
						<li><a href="products.html">EUROPEAN FOOD</a></li>
						<li><a href="#">INDIAN FOOD</a></li>
						<li><a href="#">KOREAN FOOD</a></li>
						<li><a href="#">JAPANESE FOOD</a></li>
						<li><a href="#">MALAYA FOOD</a></li>
						<li><a href="#">THAILAND FOOD</a></li>
						<li><a href="#">TAIWAN FOOD</a></li>
						<li><a href="#">WESTARN FOOD</a></li>
					</ul>
				</div>
			</div>
			<div class="col-6">
				<div class="txt-btn">LIVE DRINKS STALLS
				</div>
				<div class="drop-menu-box">
					<ul>
						<li><a tabindex="-1" href="products.html">BUBBLE DRINK</a></li>
								<li><a href="products.html">BUTTERMILK</a></li>
								<li><a href="#">BRIDE NEST</a></li>
								<li><a href="#">CARNIVAL DRINKS</a></li>
								<li><a href="#">CHENDOL</a></li>
								<li><a href="#">CHINESE DRINK</a></li>
								<li><a href="#">ENERGY HOT DRINKS</a></li>
								<li><a href="#">COLD COFFEE</a></li>
								<li><a href="#">HOT COFFEE</a></li>
								<li><a href="#">LASSI</a></li>
								<li><a href="#">MOCKTAIL LIVE BAR</a></li>
								<li><a href="#">SLUSH SLURPEE</a></li></li>
								<li><a href="#">TEH TARIK</a></li>
								<li><a href="#">THAILAND TEA</a></li></li>
					</ul>
				</div>
			</div>
			<div class="col-6">
				<div class="txt-btn">LIVE FUN FOOD STALLS</div>
				<div class="drop-menu-box">
					<ul>
						<li><a tabindex="-1" href="products.html">BBQ FOOD</a></li>
						<li><a href="products.html">ASSORTMENT ICE CREAM IN A CUP</a></li>
						<li><a href="products.html">BUBUR CHA CHA</a></li>
						<li><a href="#">BISCUIT AND SNAKE STALL</a></li>
						<li><a href="#">CANDY FLOSS</a></li>
						<li><a href="#">CHOCOLATE FONDUE</a></li>
						<li><a href="#">CHURROS LIVE STALL</a></li>
						<li><a href="#">CREPES</a></li>
						<li><a href="#">DRAGON BREATH CANDY</a></li>
						<li><a href="#">FRIED MARS STALL</a></li>
						<li><a href="#">ICE JELLY</a></li>
						<li><a href="#">ICE CREAM IN CUP</a></li>
						<li><a href="#">ICE CREAM IN CONE</a></li>
						<li><a href="#">ICE BATTU</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  </div>
  <script>
	function openMobSubMenu() {
	  document.getElementById("mobSubMenu").style.width = "100vw";
	  document.getElementById("main-page").style.marginRight = "0";
	}
	
	function closeMobSubMenu() {
	  document.getElementById("mobSubMenu").style.width = "0";
	  document.getElementById("main-page").style.marginRight= "0";
	}
 </script>


	<!-- -----------------Main Page Start---------------- -->
	<div id="main-page">

		<!-- ========================== Nav Bar ========================= -->
		<nav class="navbar navbar-expand-md navbar-dark nav-custom">
			<a class="navbar-brand" href="#">
				<figure class="brand-img"></figure>
				<!-- <img id="brand-img" src="./img/Logo-m.png" srcset="./img/Logo-m.png 575w, ./img/Logo.png 5000w" alt="FastFood"/> -->
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
					<li class="nav-item">
					<a class="nav-link" href="index.html">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Menu<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li class="dropdown-submenu"> <a tabindex="-1" href="#">Catering</a>
						  <ul class="dropdown-menu">
							  <li><a tabindex="-1" href="products.html">TULANG NALLI BRIYANI</a>
							  </li>
							  <li><a href="products.html">CUPCAKES</a>
							  </li>
							  <li><a href="products.html">DONUT WALL</a>
							  </li>
							  <li><a href="#">FRUIT BUFFET</a>
							  </li>
							  <li><a href="#">GRAZING TABLE</a>
							  </li>
							  <li><a href="#">KIDS BUFFET 1</a>
							  </li>
							  <li><a href="#">KIDS BUFFET 2</a>
							  </li>
							  <li><a href="#">KIDS BUFFET 3</a>
							  </li>
							  <li><a href="#">CANDY BUFFET 2</a>
							  </li>
							  <li><a href="#">CANDY BUFFET 2</a>
							  </li>
						  </ul>
					  </li>

					  <li class="dropdown-submenu"> <a tabindex="-1" href="#">Live food stalls</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="products.html">BBQ FOOD</a>
							</li>
							<li><a href="products.html">CHINESE FOOD</a>
							</li>
							<li><a href="products.html">EUROPEAN FOOD</a>
							</li>
							<li><a href="#">INDIAN FOOD</a>
							</li>
							<li><a href="#">KOREAN FOOD</a>
							</li>
							<li><a href="#">JAPANESE FOOD</a>
							</li>
							<li><a href="#">MALAYA FOOD</a>
							</li>
							<li><a href="#">THAILAND FOOD</a>
							</li>
							<li><a href="#">TAIWAN FOOD</a>
							</li>
							<li><a href="#">WESTARN FOOD</a>
							</li>
							</ul>
						</li>

							<li class="dropdown-submenu"> <a tabindex="-1" href="#">Live drinks stalls</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="products.html">BUBBLE DRINK</a>
									</li>
									<li><a href="products.html">BUTTERMILK</a>
									</li>
									<li><a href="#">BRIDE NEST</a>
									</li>
									<li><a href="#">CARNIVAL DRINKS</a>
									</li>
									<li><a href="#">CHENDOL</a>
									</li>
									<li><a href="#">CHINESE DRINK</a>
									</li>
									<li><a href="#">ENERGY HOT DRINKS</a>
									</li>
									<li><a href="#">COLD COFFEE</a>
									</li>
									<li><a href="#">HOT COFFEE</a>
									</li>
									<li><a href="#">LASSI</a>
									</li>
									<li><a href="#">MOCKTAIL LIVE BAR</a>
									</li>
									<li><a href="#">SLUSH SLURPEE</a>
									</li>
								</li>
								<li><a href="#">TEH TARIK</a>
								</li>
								<li><a href="#">THAILAND TEA</a>
								</li>
									</li>
								</li>
						</ul>
						<li class="dropdown-submenu"> <a tabindex="-1" href="#">Live fun food</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="products.html">BBQ FOOD</a>
								</li>
								<li><a href="products.html">ASSORTMENT ICE CREAM IN A CUP</a>
								</li>
								<li><a href="products.html">BUBUR CHA CHA</a>
								</li>
								<li><a href="#">BISCUIT AND SNAKE STALL</a>
								</li>
								<li><a href="#">CANDY FLOSS</a>
								</li>
								<li><a href="#">CHOCOLATE FONDUE</a>
								</li>
								<li><a href="#">CHURROS LIVE STALL</a>
								</li>
								<li><a href="#">CREPES</a>
								</li>
								<li><a href="#">DRAGON BREATH CANDY</a>
								</li>
								<li><a href="#">FRIED MARS STALL</a>
								</li>
								<li><a href="#">ICE JELLY</a>
								</li>
								<li><a href="#">ICE CREAM IN CUP</a>
								</li>
								<li><a href="#">ICE CREAM IN CONE</a>
								</li>
								<li><a href="#">ICE BATTU</a>
								</li>
								</ul>
							</li>
					</li>
					</ul>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">Our Clients</a>
				</li>
		
				<li class="nav-item">
					<a class="nav-link" href="about-us.html">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact-us.html">Contact Us</a>
				</li>
				<li class="nav-item dropdown log-nav">
					<a href="#" class="nav-link" data-toggle="dropdown">login/Sign-Up<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li> <a  href="orders.html">Order</a></li>
					  <li> <a  href="profile-information.html">Profile Upadte</a></li>
					  <li> <a  href="addresses.html">Address Update</a></li>
					  <li> <a  href="saved-cards.html">Save Card</a></li>
					  <li> <a  href="index.html">Logout</a></li>
					  </ul>
					  </li>
			</ul>
			</div>
			<a href="#" class="cart openCart" onclick="openCart()"><img src="./img/shopping-bag.svg" alt="Cart"><span>12</span></a>
			<button class="openbtn" onclick="openNav()">☰</button> 
		</nav>
			<!----------------------- Cart Slider-------------------------->
	<div id="cart" class="sidebar-cart">
		
		<div class="cart-sidebar-header">
            <h5>
               My Cart <span class="cart-head">(5 item)</span> <a href="javascript:void(0)" class="closebtn" onclick="closeCart()" style="color:#fff;">×</a>
            </h5>
         </div>
		 <div class="cart-sidebar-body">
            <div class="cart-list-product">
               <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
               <img class="img-fluid" src="./img/1.jpg" alt="">
               <span class="badge badge-success">50% OFF</span>
               <h5><a href="#">Veg-Burgger</a></h5>
               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> 2 pc</h6>
               <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
            </div>
            <div class="cart-list-product">
               <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
               <img class="img-fluid" src="./img/cofee.png" alt="">
               <span class="badge badge-success">50% OFF</span>
               <h5><a href="#">Cold Coffe</a></h5>
               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> 2 pc</h6>
               <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
            </div>
            <div class="cart-list-product">
               <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
               <img class="img-fluid" src="./img/chinese.jpg" alt="">
               <span class="badge badge-success">50% OFF</span>
               <h5><a href="#">Product Title Here</a></h5>
               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> 2 pc</h6>
               <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
            </div>
            <div class="cart-list-product">
               <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
               <img class="img-fluid" src="./img/1.jpg" alt="">
               <span class="badge badge-success">50% OFF</span>
               <h5><a href="#">Product Title Here</a></h5>
               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> 2 pc</h6>
               <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
            </div>
            <div class="cart-list-product">
               <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
               <img class="img-fluid" src="./img/chinese.jpg" alt="">
               <span class="badge badge-success">50% OFF</span>
               <h5><a href="#">Product Title Here</a></h5>
               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> 2 pc</h6>
               <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
            </div>
		 </div>
		 <div class="cart-sidebar-footer">
            <div class="cart-store-details">
               <p>Sub Total <strong class="float-right">$900.69</strong></p>
               <p>Delivery Charges <strong class="float-right text-danger">+ $29.69</strong></p>
               <h6>Your total savings <strong class="float-right text-danger">$55 (42.31%)</strong></h6>
			</div>
			<a href="##"><button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="mdi mdi-cart-outline"></i> Proceed to Checkout </span><span class="float-right"><strong>$1200.69</strong> <span class="mdi mdi-chevron-right"></span></span></button></a>
         </div>
	  </div>
	  <script>
		function openCart() {
		  document.getElementById("cart").style.width = "400px";
		  document.getElementById("main-page").style.marginRight = "0";
		}
		
		function closeCart() {
		  document.getElementById("cart").style.width = "0";
		  document.getElementById("main-page").style.marginRight= "0";
		}
	 </script>

	 <!--------==================Cart slider end======================-->

	

	<!-- =============================== Orders Section =================================== -->

    <div class="login">
        <img src="./img/join1.png" class="login-banner">
        <div class="container">
            <div class="row a-s-ii">
                <div class="col-lg-12">
                    <div class="form-section">
                        <div class="logo-2">
                            <a href="##">
                               <h2>Change Password</h2>
                            </a>
                        </div>
                        <form action="#" method="GET">
                            <div class="form-group form-box">
                                <input type="text" name="oldpassword" class="input-text" placeholder="">
                            </div>
                             <div class="form-group form-box">
                                <input type="text" name="newpassword" class="input-text" placeholder="">
                            </div>
                             <div class="form-group form-box">
                                <input type="text" name="confirmpassword" class="input-text" placeholder="">
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- =========================== End of Orders  =============================== -->

		<!-- ========================= Footer =============================== -->
		<footer class="footer-sec">
			<div class="container">
				<div class="footer-block">
					<div class="c-rights">
						Copyright © 2016 FastFood
					</div>
					<div class="f-menu-block">
						<ul>
							<li>
								<a href="#">About Us</a>
							</li>
							<li>
								<a href="#">Menu</a>
							</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Sitemap</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

	</div>


</body>
</html>